body {
  background-color: #000;
  font-family: Helvetica;
}

.header {
  color: #61dafb;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.footer {
  padding-top: 50px;
  text-align: center;
}

.footer a:link, a:visited {
  color: #333;
}

.footer a:hover {
  color: #61dafb;
}

.clock {
  width: 210px;
  margin: 0 auto;
}

.clock .bit {
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

.clock .bit.on {
  background-color: #61dafb;
}

.clock .bit.off {
  background-color: #333;
}

.clock .bitlist-pair {
  display: table-cell;
}

.clock .bitlist {
  display: inline-block;
  vertical-align: bottom;
  width: 25px;
  margin-left: 10px;
}
