body {
  background-color: #000;
  font-family: Helvetica;
}

.header {
  color: #61dafb;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.footer {
  padding-top: 50px;
  text-align: center;
}

.footer a:link, a:visited {
  color: #333;
}

.footer a:hover {
  color: #61dafb;
}

.clock {
  width: 240px;
  margin: auto;
}

.clock .bit {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #333;
  border-radius: 1px;
}

.clock .bit.on {
  background-color: #61dafb;
  transition: all 0.4s ease-in-out;
}

.clock .bit.off {
  transition: all 0.4s ease-in-out;
}

.clock .bitlist-pair {
  display: table-cell;
}

.clock .bitlist {
  display: inline-block;
  vertical-align: bottom;
}


@media (max-width: 768px) {

  .clock {
    width: 480px;
  }

  .clock .bit {
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 3px;
  }


}
